@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-image: url("worldBG.jpg");
  background-position: center;
  background-size: cover;
}

.main{
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.4s ease-out;
}

.profile{
  background-color: rgba(0, 0, 0, 0.849);
  color: #b1a187;
  border: 2px solid #b1a187;
  width: 40vw;
  padding: 1rem;
  margin-top: 2rem;
  font-weight: 600;
  text-align: left;
  border-radius: 5px;
}

.profile-card{
  display: flex;
  align-items: center;
}

.main h1 {
  position: absolute;
  margin-bottom: 30rem;
  font-size: 70px;
  color: white;
  text-shadow: 3px 3px rgba(50 , 50 , 70 , 0.5);
}

.whileLoading{
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 15px;
  color: white;
  position: absolute;
  margin-top: -17rem;
  width: 40vw;
  text-align: left;
}

button {
  border: none;
  padding: 7px 12px;
  margin-top: 2rem;
  font-size: 17px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
}

button:hover{
  background-color: rgb(94, 92, 92);
  color: white;
}

 img {
  margin-right: 1rem;
  border: 1px solid;
  width: 150px;
  height: 150px;
}

/* small screens */
@media screen and (max-width:768px) {
  .main h1{
    font-size: 50px;
    margin-bottom: 25rem;
  }

  .profile {
    width: 70vw;
    margin-top: 5rem;
  }

  img {
    width: 110px;
    height: 110px;
  }

  .profile-card p {
    line-height: 10px;
    font-size: 15px;
  }

  .whileLoading {
    margin: 0;
    bottom: 21rem;
    left: 3rem;
  }
}


/* Smaller screens */
@media screen and (max-width:320px) {
  .main h1 {
    font-size: 30px;
  }

  img {
    width: 90px;
    height: 90px;
  }

  .profile-card p {
    line-height: 9px;
    font-size: 10px;
  }
}