@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  border: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif;
  font-family: 'Open Sans', sans-serif; */
  font-family: 'Inter', sans-serif;   
}

body{
  background-image: url("worldBG.jpg");
  background-position: center;
  background-size: cover;
}

.main{
  height: 97vh;
  /* width: 100%; */
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.4s ease-out;
  position: relative;
  /* border: 1px solid red; */
}

.main h1 {
  /* position: absolute; */
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 70px;
  /* border: 1px solid red; */
  line-height: 4rem;
  color: white;
  text-shadow: 3px 3px rgba(50 , 50 , 70 , 0.5);
}

.profile{
  background-color: white;
  color: rgb(104, 102, 102);
  /* border: 2px solid #b1a187; */
  width: 50vw;
  height: 33vw;
  min-height: 30vw;
  padding: 1rem;
  /* margin-top: 1rem; */
  font-weight: 600;
  text-align: left;
  border-radius: 10px;
  transition: 0.4s ease-out;
  overflow: hidden;
}

.profile-card {
  /* display: flex; */
  /* border: 1px solid blue; */
  /* align-items: center; */
}

/* .personal hr {
  background-color: #b1a187;
  color: red;
} */

.personal {
  /* border: 1px solid red; */
  width: 100%;
  /* padding: 0; */
}

.personal h2 {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: .7rem;
}

.personal p {
  line-height: 15px;
}

.next {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  /* border: 1px solid red; */
  height: 3rem;
  margin-bottom: 10px;
  /* padding: 0; */
}

.next h2 {
  /* border: 1px solid; */
}

.detailsContainer {
  width: 100%;
  /* height: 60vh; */
  /* border: 1px solid red; */
  /* overflow: scroll; */
}

.details {
  display: flex;
  /* border: 1px solid red; */
}

button {
  border: none;
  padding: 7px 12px;
  /* margin-top: 2rem; */
  font-size: 17px;
  margin-left: auto;
  font-weight: 700;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
}

.whileLoading{
  /* margin-bottom: 2rem; */
  font-weight: 600;
  z-index: 100;
  font-size: 15px;
  color: white;
  text-align: left;
}

.message {
  width: 80%;
  height: 1.5rem;
}

button:hover{
  background-color: rgb(94, 92, 92);
  color: white;
}

 img {
  margin-right: 1rem;
  /* border: 1px solid; */
  width: 200px;
  height: 150px;
  transition: 0.4s ease-out;
}

/* small screens */
@media screen and (max-width:768px) {
  .main h1{
    font-size: 50px;
    /* margin-bottom: 25rem; */
  }

  .profile {
    width: 70vw;
    /* margin-top: 5rem; */
    height: 60vh;
    /* overflow: scroll; */
  }

  img {
    width: 110px;
    height: 110px;
  }

  .profile-card p {
    line-height: 10px;
    font-size: 15px;
  }

  .detailsContainer {
    width: 100%;
    /* height: 30vh; */
    /* border: 1px solid red; */
    overflow-y: scroll;
  }

  .whileLoading {
    margin: 0;
    bottom: 21rem;
    left: 3rem;
    
  }
}


/* Smaller screens */
@media screen and (max-width: 425px) {
  .main h1 {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }

  /* .main {
    width: 90vw;
  } */

  img {
    width: 90px;
    height: 90px;
  }

  button {
    border: none;
    padding: 7px 10px;
    font-size: 15px;
  }
  

  .profile {
    /* border: 1px solid red; */
    width: 85vw;
  }

  .profile-card p {
    line-height: 9px;
    font-size: 10px;
  }

  .personal h2 {
    font-size: 1rem;
  }
}