*{
  border: 0;
  padding: 0;
}

.main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  flex-direction: column;
}

.profile{
  background-color: skyblue;
  width: 60%;
  padding: 1rem;
}

.profile-card{
  display: flex;
}

button {
  border: none;
  padding: 7px 12px;
  margin-top: 2rem;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  background-color: skyblue;
}

.profile-card img {
  margin-right: 1rem;
}